<template>
  <div>
    <v-row style="width: 1060.75px">
      <v-col       
      v-for="product in products"
      :key="product.id"
      cols="4"
      >
        <v-slide-x-reverse-transition>
          <productCard  :product="product"/>
        </v-slide-x-reverse-transition>
      </v-col>
    </v-row>
  </div>
</template>

<script>
const productCard = () => import('./product_card')

export default {
  name: 'productGrid',
  data: () => {
    return{

    }
  },
  components:{productCard},
  props:{
    products:{
      required: true,
      default: []
    },
  }
}
</script>

<style>

</style>