<template>
    <v-card  ripple :class="gridMode == 'list' ? 'listProductCard' : 'gridProductCard' " class="d-flex align-center">
      <v-img :src="product.image" contain max-height="130px" max-width="150px"></v-img>
      <div class="d-flex align-start flex-column">
        <v-card-title>
          {{product.title}}
        </v-card-title>
        <v-card-subtitle>
          {{product.product_type.charAt(0).toUpperCase() + product.product_type.slice(1)}}
        </v-card-subtitle>
        <v-card-text>
          Quantity sold: {{product.quantitySold}}
        </v-card-text>
      </div>
    </v-card>
</template>

<script>
export default {
  name: 'productCard',
  props:{
    product: {
      type: Object,
      required: true
    },
    gridMode:{
      type: String,
      required: false,
      default: 'grid'
    }
  }
}
</script>

<style>

</style>