<template>
  <div>
    <v-row style="margin: -12px 0px 0px 0px !important; width: 100%; " >
      <v-col cols="3" class="mx-0 px-0">
        <filters ref="filters" @filterType="handleTypeFilter" :productsType="productsType"/>
      </v-col>
      <v-col cols="9" class="d-flex flex-column mx-0 px-0">
        <bar @sort="handleSort" :results="filteredProducts.length" ref="bar" @gridSelected="handleChange"/>
        <products :products="filteredProducts" :gridType="gridType"/>
      </v-col>
    </v-row>
  </div>
</template>

<script>
  const bar = () => import('@/components/bar');
  const filters = () => import('@/components/filters');
  const products = () => import('@/components/products');
  import axios from 'axios';

  export default {
    name: 'Home',

    components: {
      bar,
      filters,
      products
    },
    data: () =>{
      return{
        products: {},
        gridType: 'grid',
        productsType: [],
        filters:{
          productsType:[]
        },
        filterErrors: 0,
        filteredProducts: []
      }
    },
    mounted(){
      this.fetchProducts()
    },
    methods:{
      fetchProducts(){
        axios
          .get(
            'https://kabsa.yallababy.com/api/v1/products/best-selling-products-by-subcategory', 
            {
              headers: {secretKey: '1DIPIkKeq8'}
            }
          )
          .then( response => {
            
            this.products = Object.values(response.data)
            this.filteredProducts = Object.values(response.data)
            this.products.forEach(product => {
              product.product_type = product.product_type.charAt(0).toUpperCase() + product.product_type.slice(1)
              if(!this.productsType.includes(product.product_type)){
                this.productsType.push(product.product_type);
              }
            });
          })
          .catch(function (error) {
            if (error.response) {
              // The request was made and the server responded with a status code
              // that falls out of the range of 2xx
              console.error(error.response.data);
              console.error(error.response.status);
              console.error(error.response.headers);
            } else if (error.request) {
              // The request was made but no response was received
              // `error.request` is an instance of XMLHttpRequest in the browser and an instance of
              // http.ClientRequest in node.js
              console.error(error.request);
            } else {
              // Something happened in setting up the request that triggered an Error
              console.error('Error', error.message);
            }
            console.error(error.config);
          })
      },
      typeFilter(obj) {
        if ('product_type' in obj) {
          if(this.filters.productsType.length){
            return this.filters.productsType.includes(obj.product_type)
          }else{
            return true;
          }
        } else {
          this.filterErrors++;
          return false;
        }
      },
      handleTypeFilter(val = []){
        if(val.length){
          this.filters.productsType= val;
          this.filteredProducts = this.products.filter(this.typeFilter);
        }else{
          this.filteredProducts = this.products
        }
      },
      handleSort(val){
        this.filteredProducts.sort(function (firstValue, secondValue) {
         switch (val.key) {
           case 'title':
            if (firstValue[val.key] > secondValue[val.key]) {
              return 1;
            }
            if (firstValue[val.key] < secondValue[val.key]) {
              return -1;
            }
            return 0;
            break;
          case 'price':
            let firstValueMaxPrice = Math.max.apply(Math, firstValue.variants.map(function(value) { return value.price; }))
            let secondValueMaxPrice = Math.max.apply(Math, secondValue.variants.map(function(value) { return value.price; }))
            if(val.direction == "asc"){
              if(firstValueMaxPrice < secondValueMaxPrice){
               return 1;
              }else{
                return -1
              }
            }else if (val.direction == 'desc'){
              if(firstValueMaxPrice > secondValueMaxPrice){
                return 1
              }else{
                return -1
              }
            }
             break;
           default:
             break;
         }

        });
      },
      handleChange(){
        this.gridType = this.$refs.bar.gridType
      }
    }
    
  }
</script>
