<template>
  <v-card class="px-2 d-flex align-center elevation-1" tile>
    <v-row>
      <v-col cols="6" class="py-0 align-center justify-center d-flex">
        <v-card-text class="pa-0"> Available deals: <strong> {{ results }} </strong> </v-card-text>
      </v-col>
      <v-col cols="4" class="py-0 align-center justify-center d-flex">
        <v-btn-toggle 
          class="pa-0"
          v-model="gridType"
          tile
          group
          @change="$emit('gridSelected')"
        >
          <v-btn  value="grid" icon plain style="min-width: auto !important;">
            <v-icon>mdi-grid-large</v-icon>
          </v-btn>
          <v-btn  value="list" icon plain style="min-width: auto !important;">
            <v-icon>mdi-format-list-checkbox</v-icon>
          </v-btn>
        </v-btn-toggle>
      </v-col>
      <v-col cols="2" class="py-0 align-center justify-center d-flex">
        <v-select v-model="sortBy" :items="sortByItems"></v-select>
      </v-col>
    </v-row>
  </v-card>
</template>

<script>
export default {
  name: 'Bar',
  data: () => {
    return {
      gridType: 'grid',
      sortBy: 'Sort By',
      sortByItems: [
        {
          text: 'Sort By',
          header: 'Sort By',
          value: 'Sort By',
          disabled: true
        },
        {
          text: 'A-Z',
          value: {key: 'title', direction: 'asc'}
        },
        {
          text: 'Price: High to Low',
          value: {key: 'price', direction: 'desc'}
        },
        {
          text: 'Price: Low to High',
          value: {key: 'price', direction: 'asc'}
        }
      ]
    }
  },
  props: {
    results: {
      type: Number,
      default: 0,
      required: true
    }
  },
  watch: {
    'sortBy': {
      handler (val) {
          this.$emit('sort', val);
      }
    }
  },
  
}
</script>

<style>

</style>