<template>
  <v-card height="600px" class="px-4">
     <v-list-item>
          <v-list-item-content>
            <v-list-item-title class="text-h6 text-center">
              Filter Results
            </v-list-item-title>
          </v-list-item-content>
        </v-list-item>
  
        <v-divider></v-divider>
  
        <v-list>
          <v-list-item
            v-for="filter in productsType"
            :key="filter"
          >
              <v-checkbox
                style="width:100%;"
                v-model="filters.productsType" :value="filter" :label="filter"></v-checkbox>
          </v-list-item>
        </v-list>

  </v-card>
</template>

<script>
export default {
  name: 'Filters',
  data: () => {
    return{
      filters:{
        productsType:[]
      }
    }
  },
  watch: {
    'filters.productsType': {
      handler (val) {
          this.$emit('filterType', val);
      }
    }
  },
  props:{
    productsType:{
      type: Array,
      required: true
    }
  }
}
</script>
