<template>
  <v-main class="py-0 ma-4">
    <transition-group name="component-fade" tag="div" mode="out-in">
      <grid v-if="gridType == 'grid'" :products="products" key="grid" style="position:absolute"/>
      <list v-if="gridType == 'list'" :products="products" key="list" style="position:absolute"/>
    </transition-group>
  </v-main>
</template>

<script>
const grid = () => import('./products/grid')
const list = () => import('./products/list')

export default {
  name:'products',
  components:{
    grid,
    list
  },
  data: () => {
    return {

    }
  },
  props:{
    products:{
      required: true,
      default: []
    },
    gridType:{
      type: String,
      required: true,
      default: 'grid'
    }
  }
}
</script>

<style scoped>
.component-fade-enter-active, .component-fade-leave-active {
  transition: opacity .4s ease-in-out;
}
.component-fade-enter, .component-fade-leave-to{
  opacity: 0;
}
</style>