<template>
  <v-app class="ma-0">
    <v-app-bar dark app class="justify-center align-center text-h5 d-flex">
      Welcome to mum's deals page!
    </v-app-bar>
    <v-main>
      <router-view/>
    </v-main>
  </v-app>
</template>

<script>

export default {
  name: 'App',

  data: () => ({
    //
  }),
};
</script>
